*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(224, 224, 224);
}
.nav{
    background-color: rgb(72, 72, 253);
    width: 100;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding: 2px;
    align-items: center;
}
.nav img{
    height: 30px;
    width: 30px;
    border-radius: 15px ;
}
.nav input{
    height: 25px;
    width: 30%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
}
.app{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    width: 99vw;
    margin-left: auto;
    margin-right: auto;
}

.left{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 89vh;
    width: 20vw;
    max-width: 200px;
    min-width: 125px;
    /* border: solid rgb(176, 176, 177); */
    border-radius: 10px;
    padding: 5px;
}
.pbox{
    width: 100%;
    height: 200px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.bgimg{
    width: vw;
    max-width: 250px;
    height: 100px;
    background-color: rgb(16, 16, 59);
    border-radius: 5px;
    /* position:fixed; */
    z-index: 0;
}
.pimg{
    width:50%;
    height: 60%;
    border-radius:70%;
    margin-top: -65px;
    margin-bottom: 10px;
    z-index: 1;
}
.right{
    margin-top: 10px;
    height: 88vh;
    /* width: 30vw; */
    max-width: 250px;
    /* border: solid rgb(29, 29, 61); */
    /* border-radius: 10px; */
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}
.right img{
    width: 25px;
    padding-right:3px;
}
.right button{
    width: 99%;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.right a{
    text-decoration: none;
    color: black;
}
.i-btn{
    display: flex;
    justify-content: space-around;
    /* gap: 12%; */
}
.i-btn p{
    margin-top: 6px;
}
.center{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-right: auto;
    margin-left:auto ;
    /* background-color: rgb(247, 243, 252); */
}
.edit{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 30vw;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
form input{
    height:20px;
    width: 80%;
    padding:6px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid;
    border-color: rgb(55, 55, 250);
    outline: none;
    width: 60%
}
.submit{
    height: 30px;
    width: 60%;
    background-color: rgb(56, 56, 248);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: none;
}
.submit:hover{
    background-color: black;
    transition: 0.7s;
}

